<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="ISO-8859-1"/>
	<title>Sample AutoComplete</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
	<form>
		<table>
			<th:block>	
				<label th:text="#{label.branch}" style="margin-right:10px;"></label>
				<input type="text"  id="branchInputSearch" value="" onclick="searchAutoComplete('branchInputSearch', 'messages')" />
				<span id="messages"></span>
			</th:block>	
		</table>
	</form>
	<script th:inline="javascript">
		/*<![CDATA[*/function declareObjectList(){
			var listObject = [[${branchList}]];
			/* convert menjadi list string dan ambil spesifik field dari list object agar terbaca dalam process */
			var data = listObject.map(function(item) {
				/* tentukan data apa saja yang akan dimasukan kedalam list baru */
				return {
					id: item['code'],
					value: "[" + item['code'] + "] " + item['name']
				}
			});
			return data;
		}
		
		function searchAutoComplete(divInputId, spanShowId){
			
			/* data berbentuk list object entity */
			var data = declareObjectList();
			
			/* start autocomplete */
		    $('#'+divInputId).autocomplete({
		    	async: true,
			    cache: false,
			    max:20,
		    	minLength: 1,
				source: function (request, response) {
                    var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                    var matching = $.grep(data, function (value) {
                        var id = value.id;
                        var value = value.value;
                        return matcher.test(value) || matcher.test(id);
                    });
                    response(matching.slice(0, 10));
                },    
				focus: function(event, ui) {
					$('#'+divInputId).val(ui.item.id);
					return false;
				},
				select: function(event, ui) {
					$('#'+divInputId).val(ui.item.id);
					$('#'+spanShowId).val(ui.item.value);
					return false;
		        }
		    });
		}
	/*]]>*/
	</script>
	/* author cipta ageung mahdiar */
</body>
</html>